body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);

  padding-left: 25px;
}

.card-container {

  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 2;


}

.grow {}


.card:focus,
.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: scale(.9);
}

.card {
  text-align: center;
  background-color: lightgreen;
  width: 300px;
  height: 300px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-out;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  transition: transform 0.5s;
  border-width: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}